* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

body {

    font-family: 'Poppins', sans-serif;

    background: #faf8f2;

    color: #1d2b24;

}

.top-bar {

    background: #0f3d2e;

    color: white;

    text-align: center;

    padding: 12px;

    font-size: 14px;

}

.navbar {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 30px 80px;

    background: white;

}

.logo-small img {

    height: 80px;

}

.menu {

    display: flex;

    list-style: none;

    gap: 30px;

}

.menu a {

    text-decoration: none;

    color: #0f3d2e;

    font-weight: 600;

}

.hero {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 80px;

    min-height: 80vh;

}

.hero-left {

    width: 50%;

}

.hero-left h1 {

    font-size: 70px;

    font-family: 'Playfair Display', serif;

    color: #0f3d2e;

    margin-bottom: 20px;

}

.hero-left p {

    font-size: 22px;

    margin-bottom: 30px;

    line-height: 1.6;

}

.hero-right {

    width: 45%;

    text-align: center;

}

.hero-right img {

    width: 100%;

    max-width: 500px;

}

.btn-main {

    display: inline-block;

    background: #0f3d2e;

    color: white;

    padding: 15px 35px;

    border-radius: 50px;

    text-decoration: none;

    font-weight: bold;

}

.categories,

.books,

.instagram-section,

.reviews {

    padding: 80px;

    text-align: center;

}

h2 {

    font-size: 42px;

    margin-bottom: 40px;

    color: #0f3d2e;

}

.category-grid,

.book-grid {

    display: flex;

    gap: 30px;

    justify-content: center;

    flex-wrap: wrap;

}

.category-card,

.book-card,

.review-box {

    background: white;

    padding: 30px;

    border-radius: 20px;

    width: 280px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.05);

}

.book-card img {

    width: 100%;

    border-radius: 15px;

    margin-bottom: 15px;

}

.book-card a {

    display: inline-block;

    margin-top: 15px;

    color: #0f3d2e;

    font-weight: bold;

    text-decoration: none;

}

.instagram-section p {

    margin-bottom: 30px;

    font-size: 20px;

}

footer {

    background: #0f3d2e;

    color: white;

    text-align: center;

    padding: 60px 20px;

    line-height: 2;

}
 
